body {
	margin-top: 1.0em;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka, sans-serif;
	color: #000000;
}

p {
	margin: 3px 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#fork_me {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

nav {
	float: left;
	width: 150px;
	height: 700px;
	margin-right: -1px;
	border-right: solid 1px gray;
}

nav ul {
	list-style: none;
	margin: 20px 15px;
	padding: 0px;
}

nav ul li {
	margin-bottom: 15px;
}

header {
	width: 700px;
	margin-left: 40px;
	border-bottom: solid 2px gray;
}

header h1 {
	font-size: 42px;
	color: #5210dd;
	margin: 3px;
}

#container {
	margin: 20px auto 0px 0px;
	width: 750px;
	float: left;
}

#container #contents {
	margin: 20px auto 0px 0px;
	padding-left: 60px;
	border-left: solid 1px gray;
}

#container #contents #download {
	margin-left: 20px;
}

#container #contents #download a {
	font-size: 20px;
}

#container #contents #process {
	font-size: 1.2em;
	margin: 30px;
}

#container #contents #install {
	font-size: 1.2em;
	margin: 30px;
}

#container #contents #install #download_img {
	margin: 5px auto 5px 50px;
}

#container #contents #install #install_description {
	height: 180px;
}

#container #contents #install #install_description #install_img {
	float: left;
}

#container #contents #install #install_description #install_desc {
	float: left;
	margin: 20px 20px 20px 0px;
}

#container #contents #install #install_description #install_desc p {
	line-height: 2.2em;
}

#container #contents #install #button_description {
	height: 100px;
	margin: 10px 0px 15px 0px;
}

#container #contents #install #button_description #button_img {
	float: left;
	display: block;
	height: 100px;
	margin-left: 10px;
}

#container #contents #install #button_description #button_desc {
	float: left;
	margin: 5px 20px 5px 40px;
}

#container #contents #install #button_description #button_desc p {
	line-height: 2.2em;
}

#container #contents #description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
}

#container #contents #description #to_download {
	font-size: 23px;
	font-weight: bold;
	display: block;
	margin: 20px auto 0px 20px;
}

#container #contents #images img {
	margin-bottom: 20px;
}

#container #contents #authers {
	margin-left: 20px;
}

footer {
	margin: 50px auto;
	border-top: dotted 1px gray;
	text-align: center;
}

