<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" type="text/css" media="all">
	<link rel="stylesheet" href="../css/w_user_info.css" type="text/css" media="all">
</head>
<body>
	<div id="user_profile">
		<div id="user_id">
			
		</div>
		<div id="user_name">
			
		</div>
		<div id="user_thumbnail">
			
		</div>
		<div id="user_color">
			
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script src="../lib/nico.live.js"></script>
	<script src="../js/w_user_info.js"></script>
</body>
</html>

